<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <table class="table">
        <thead>
            <tr>
                <th>Departamento</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                # <th>Quantidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <%= render @produtos_por_nome %>
           
        </tbody>
    </table>
    <%= link_to "Criar novo produto", new_produto_path %>
</body>
</html>